$primaryDark: rgb(36, 36, 36);
$secondaryDark: rgb(43, 43, 43);
$thirdDark: rgb(51, 51, 51);
$fourthDark: #ffd700;
$fontDark: white;
$darkColors: (
  primaryDark: $primaryDark,
  secondaryDark: $secondaryDark,
  thirdDark: $thirdDark,
  fourthDark: $fourthDark,
  fontDark: $fontDark,
);
$primaryLight: rgb(241, 241, 241);
$secondaryLight: rgb(235, 235, 235);
$thirdLight: rgb(230, 230, 230);
$fourthLight: rgb(36, 196, 102);
$fontLight: black;
$boxLightButton: rgb(210, 210, 210);
$lightColors: (
  primaryLight: $primaryLight,
  secondaryLight: $secondaryLight,
  thirdLight: $thirdLight,
  fourthLight: $fourthLight,
  fontLight: $fontLight,
);

$colors: (
  primaryLight: $primaryLight,
  secondaryLight: $secondaryLight,
  thirdLight: $thirdLight,
  fourthLight: $fourthLight,
  fontLight: $fontLight,
  primaryDark: $primaryDark,
  secondaryDark: $secondaryDark,
  thirdDark: $thirdDark,
  fourthDark: $fourthDark,
  fontDark: $fontDark,
  boxLightButton: $boxLightButton,
);
$successStatus: green;
$errorStatus: rgb(202, 90, 25);
$warningStatus: yellow;
$notificationStatus: rgb(18, 132, 224);
$statusColor: (
  success: $successStatus,
  error: $errorStatus,
  warning: $warningStatus,
  notification: $notificationStatus,
);
$margin-lite: 5px;
$margin-medium: 10px;
$margin-heavy: 15px;
$padding-lite: 5px;
$padding-medium: 10px;
$padding-heavy: 15px;

$margin: (
  marginLite: $margin-lite,
  marginMedium: $margin-medium,
  marginHeavy: $margin-heavy,
);

$padding: (
  paddingLite: $padding-lite,
  paddingMedium: $padding-medium,
  paddingHeavy: $padding-heavy,
);

$w25: 25%;
$w40: 40%;
$w50: 50%;
$w75: 75%;
$w90: 90%;
$w100: 100%;
$w120px: 120px;

$width: (
  w25: $w25,
  w40: $w40,
  w50: $w50,
  w75: $w75,
  w90: $w90,
  w100: $w100,
  w120px: $w120px,
);

$h40px: 40px;

$height: (
  h40px: $h40px,
);

$br-light: 5px;
$br-medium: 10px;
$br-heavy: 15px;
$br-circle: 50%;

$border-radius: (
  brLight: $br-light,
  brMedium: $br-medium,
  brHeavy: $br-heavy,
  brCircle: $br-circle,
);

$bw-light: 1px;
$bw-medium: 2.25px;
$bw-heavy: 3.5px;
$border-width: (
  bwLight: $bw-light,
  bwMedium: $bw-medium,
  bwHeavy: $bw-heavy,
);
@mixin center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
$ls-light: 1.02px;
$ls-medium: 1.06px;
$ls-heavy: 1.1px;
$letter-spacing: (
  lsLite: $ls-light,
  lsMed: $ls-medium,
  lsHeavy: $ls-heavy,
);

@mixin container($width, $key) {
  display: flex;
  width: map-get($map: $width, $key: $key);
  @include center-box;
}

@mixin pageCreateDopamine($key, $bcColor) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: map-get($width, $key);
  background-color: map-get($colors, $bcColor);
}

@mixin containerCreateDopamine($key, $borderRadius, $color) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: map-get($width, $key);
  border-radius: map-get($border-radius, $borderRadius);
  margin-top: 25px;
  flex-direction: column;
  background-color: map-get($colors, $color);
}

@mixin registrationContainer($pad) {
  padding: map-get($padding, $pad);
}

@mixin formCreateDopamine($key) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: $ls-light;
  width: map-get($width, $key);
}

@mixin inputContainer($widthk, $margink, $colork, $lsk) {
  width: map-get($width, $widthk);
  justify-content: flex-start;
  display: flex;
  margin: map-get($margin, $margink);
  font-family: sans-serif;
  align-items: center;
  color: map-get($colors, $colork);
  letter-spacing: map-get($letter-spacing, $lsk);
  font-weight: 600;
}

@mixin input($wKey, $color, $br, $font) {
  font-family: sans-serif;
  width: map-get($width, $wKey);
  background-color: map-get($colors, $color);
  border: none;
  padding: 12.5px;
  border-radius: map-get($border-radius, $br);
  color: map-get($colors, $font);
  font-size: 16px;
  letter-spacing: $ls-light;
}

@mixin textarea($wKey, $colorKey, $fontKey){ 
  width: map-get($width, $wKey);
  border: none;
  padding: 12.5px;
  font-size: 16px;
  letter-spacing: $ls-medium;
  background-color: map-get($colors, $colorKey);
  border-radius: $br-heavy;
  font-family: sans-serif;
  color: map-get($colors, $fontKey)
}

@mixin button($widthKey, $heightKey, $colorKey, $borderRadiusKey) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: map-get($border-radius, $borderRadiusKey);
  height: map-get($height, $heightKey);
  width: map-get($width, $widthKey);
  border: none;
  background-color: map-get($colors, $colorKey);
  font-size: 17px;
  font-family: sans-serif;
  letter-spacing: $ls-medium;
  cursor: pointer;
}

@mixin buttonActive($bcColor, $fontColor) {
  background-color: $bcColor;
  color: map-get($colors, $fontColor);
}

@mixin light-button($light, $background, $color) {
  background-color: map-get($map: $light, $key: $background);
  color: map-get($map: $light, $key: $color);
  border: none;
  border-radius: $br-light;
}

@mixin dark-button($dark, $background, $color) {
  background-color: map-get($map: $dark, $key: $background);
  color: map-get($map: $dark, $key: $color);
  border: 1px solid black;
  border-radius: $br-light;
  letter-spacing: 1.05px;
}
