@import "./base";

.deadlinePageLight {
  @include pageCreateDopamine(w100, primaryLight);
}

.deadlinePageDark {
  @include pageCreateDopamine(w100, primaryDark);
}

.deadlineNoteContainerDark {
  display: flex;
  width: 380px;
  border-radius: 10px;
  outline: 1px solid $fourthDark;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.deadlineNoteContainerLight {
  display: flex;
  width: 380px;
  box-shadow: 5px 5px 10px $boxLightButton;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.deadlineTypeHeaderContainer{
    display: flex;
    margin-bottom: -15px;
}
.type
.deadlineInfoContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.deadlineHeaderContainer {
  display: flex;
  width: 75%;
  font-family: sans-serif;
  letter-spacing: $ls-light;
}
.deadlineHeaderDark {
  color: $fourthDark;
}
.deadlineHeaderLight {
}
.deadlineCompletedContainer {
}
.deadlineCheckCircleDark {
  color: $fourthLight;
}
.deadlineCheckCircleLight {
  color: $fourthLight;
}
.warningDark {
  color: red;
}
.warningLight {
  color: red;
}
.deadlineDeletedContainer {
}
.deletedDark {
  color: $fourthDark;
}
.deletedLight {
  color: black;
}
